<grid>
	<sub-grid
		[debug]="true"
		[height]="32"
		[topLeft]="{x:0,y:0}"
		[width]="8"
	>
		<cell
			[debug]="true"
			[height]="2"
			[topLeft]="{x:0,y:0}"
			[width]="16"
		>List of methods</cell>
		<cell
			[debug]="true"
			[height]="13"
			[topLeft]="{x:0,y:2}"
			[width]="16"
		></cell>
		<!-- <li *ngFor="let hero of heroes">
      {{ hero }}
		</li>-->
		<!-- <cell
			[height]="2"
			[topLeft]="{x:0,y:2}"
			[width]="16"
		>
			<a
				click="(changeMethod($event))"
				routerLink="/add"
			>R.add</a>
		</cell>-->
		<!-- <cell
			[height]="2"
			[topLeft]="{x:0,y:4}"
			[width]="16"
		>
			<a
				click="(changeMethod($event))"
				routerLink="/update"
			>R.update</a>
		</cell>-->
	</sub-grid>

	<sub-grid
		[debug]="true"
		[height]="32"
		[topLeft]="{x:8,y:0}"
		[width]="24"
	>
		<cell
			[debug]="true"
			[height]="2"
			[topLeft]="{x:0,y:0}"
			[width]="8"
		>{{data.name}}</cell>
		<cell
			[debug]="true"
			[height]="2"
			[topLeft]="{x:8,y:0}"
			[width]="8"
		>{{replResult}}</cell>
		<cell
			[debug]="true"
			[height]="16"
			[topLeft]="{x:0,y:2}"
			[width]="8"
		>
			<app-repl (outputReplEvent)="onReplChange($event)"></app-repl>
		</cell>
	</sub-grid>
</grid>
