<grid>
	<sub-grid
		[debug]="false"
		[height]="32"
		[topLeft]="{x:0,y:0}"
		[width]="5"
	>
		<cell
			[debug]="true"
			[height]="3"
			[topLeft]="{x:0,y:0}"
			[width]="16"
		>
			<div
				[attr.data-repl-ready]="replReady.toString()"
				id="test-id"
			></div>
			<div>R.{{selectedMethod}}</div>
			<div>Filter by {{activeCategory}}</div>
			<div class="category__container">
				<div
					(click)="selectCategory(singleCategory, i)"
					[class]="getCategoryClass(i)"
					*ngFor="let singleCategory of allCategories;let i=index"
				>{{singleCategory}}</div>
			</div>
		</cell>

		<cell
			[debug]="true"
			[height]="1"
			[topLeft]="{x:0,y:3}"
			[width]="16"
			class="search__container"
		>
			<input
				#searchInput
				class="search__input"
				placeholder="Search for a method"
				type="text"
			/>
		</cell>
		<cell
			[debug]="true"
			[height]="11"
			[topLeft]="{x:0,y:4}"
			[width]="16"
			class="sidebar"
		>
			<div *ngIf="!searchActive">
				<p
					*ngFor="let singleMethodKey of visibleMethods"
					class="sidebar__cell"
				>
					<a
						routerLink="/{{singleMethodKey}}"
					>{{ singleMethodKey }}</a>
				</p>
			</div>
			<div *ngIf="searchActive">
				<p
					*ngFor="let singleMethodKey of searchResults"
					class="sidebar__cell"
				>
					<a
						routerLink="/{{singleMethodKey}}"
					>{{ singleMethodKey }}</a>
				</p>
			</div>
		</cell>
	</sub-grid>

	<!-- home page -->
	<sub-grid
		[debug]="false"
		[height]="32"
		[topLeft]="{x:8,y:0}"
		[width]="24"
		*ngIf="selectedMethod===''"
	>
		<cell
			[debug]="false"
			[height]="2"
			[topLeft]="{x:0,y:0}"
			[width]="8"
		>Welcome to documentation site of `Rambda` library1111</cell>
	</sub-grid>

	<!-- method page  -->
	<sub-grid
		[debug]="false"
		[height]="32"
		[topLeft]="{x:6,y:0}"
		[width]="26"
		*ngIf="selectedMethod!==''"
	>
		<!-- first sidebar -->
		<cell
			[debug]="false"
			[height]="3"
			[topLeft]="{x:0,y:0}"
			[width]="7"
		>
			<wired-card *ngIf="data.explanation" fill="#e2e2e2">
				<div class="explanation">
					<p>{{data.explanation}}</p>
				</div>
			</wired-card>
		</cell>

		<cell
			[debug]="false"
			[height]="3"
			[topLeft]="{x:0,y:3}"
			[width]="7"
		>
			<wired-card [fill]="highlightBackground">
				<div [innerHTML]="typescriptDefinition | purehtml"></div>
			</wired-card>
		</cell>

		<cell [height]="9" [topLeft]="{x:0,y:6}" [width]="7">
			<app-repl
				(outputReplEvent)="onReplChange($event)"
				(setReplReadyEvent)="setReplReadyEvent()"
				[initialState]="replInitialState"
			></app-repl>
		</cell>

		<cell
			[debug]="false"
			[height]="3"
			[topLeft]="{x:0,y:12}"
			[width]="6"
		>
			<div class="repl-result__container">
				<wired-card fill="#f2f2f2">
					<div class="repl-result">
						<code>
							<pre>{{replResult}}</pre>
						</code>
					</div>
				</wired-card>
			</div>
		</cell>

		<!-- second sidebar -->

		<!-- snippet modes -->
		<cell
			[debug]="false"
			[height]="1"
			[topLeft]="{x:8,y:0}"
			[width]="7"
		>
			<wired-card>
				<div class="snippet__container">
					<div
						(click)="selectMode(singleMode)"
						[ngClass]="{
							'snippet__item--active':codeSnippetMode.mode===singleMode.mode,
							'snippet__item':codeSnippetMode.mode!==singleMode.mode
						}"
						*ngFor="let singleMode of currentSnippetModes;let i = index"
					>{{singleMode.text}}</div>
				</div>
			</wired-card>
		</cell>

		<!-- current code snippet -->
		<cell
			[debug]="false"
			[height]="14"
			[topLeft]="{x:8,y:1}"
			[width]="8"
		>
			<wired-card [fill]="highlightBackground">
				<div [innerHTML]="currentCodeSnippet | purehtml"></div>
			</wired-card>
		</cell>
	</sub-grid>
</grid>
