<grid>
	<sub-grid
		[debug]="true"
		[height]="32"
		[topLeft]="{x:0,y:0}"
		[width]="8"
	>
		<cell
			[debug]="true"
			[height]="2"
			[topLeft]="{x:0,y:0}"
			[width]="16"
		>List of methods</cell>
		<cell
			[debug]="true"
			[height]="13"
			[topLeft]="{x:0,y:2}"
			[width]="16"
			class="sidebar"
		>
			<p
				*ngFor="let singleMethodKey of allMethods"
				class="sidebar__cell"
			>
				<a
					routerLink="/{{singleMethodKey}}"
				>{{ singleMethodKey }}</a>
			</p>
		</cell>
	</sub-grid>

	<!-- home page -->
	<sub-grid
		[debug]="true"
		[height]="32"
		[topLeft]="{x:8,y:0}"
		[width]="24"
		*ngIf="selectedMethod===''"
	>
		<cell
			[debug]="true"
			[height]="2"
			[topLeft]="{x:0,y:0}"
			[width]="8"
		>Welcome to documentation site of `Rambda` library</cell>
	</sub-grid>

	<!-- method page  -->
	<sub-grid
		[debug]="true"
		[height]="32"
		[topLeft]="{x:8,y:0}"
		[width]="24"
		*ngIf="selectedMethod!==''"
	>
		<cell
			[debug]="true"
			[height]="1"
			[topLeft]="{x:1,y:0}"
			[width]="6"
		>R.{{selectedMethod}}</cell>
		<cell
			[debug]="true"
			[height]="1"
			[topLeft]="{x:1,y:1}"
			[width]="6"
		>
			{{data.explanation}}
			<!-- <span
				(click)="selectMode(singleMode.mode)"
				*ngFor="let singleMode of allModes"
				class="select__mode"
			>{{singleMode.text}}</span>-->
		</cell>
		<cell
			[debug]="true"
			[height]="1"
			[topLeft]="{x:1,y:2}"
			[width]="6"
		>{{data.typing}}</cell>
		<cell
			[debug]="true"
			[height]="6"
			[topLeft]="{x:0,y:3}"
			[width]="8"
		>
			<app-repl
				(outputReplEvent)="onReplChange($event)"
				[initialState]="data.example"
			></app-repl>
		</cell>
		<cell
			[debug]="true"
			[height]="5"
			[topLeft]="{x:1,y:9}"
			[width]="6"
		></cell>

		<cell
			[debug]="true"
			[height]="3"
			[topLeft]="{x:8,y:0}"
			[width]="7"
		>{{data.explanation}}</cell>
		<cell
			[debug]="true"
			[height]="4"
			[topLeft]="{x:9,y:5}"
			[width]="5"
		>
			<div [innerHTML]="currentCodeSnippet | purehtml"></div>
		</cell>
	</sub-grid>
</grid>
