ngx-monaco-editor {
  width: 70%;
  height: 100%;
}

.select__mode {
  cursor: pointer;
  padding: 5px;
  &:nth-child(odd) {
    font-size: 28px;
  }
}

.sidebar {
  background-color: #fafafa;
  color: #111;
  overflow-y: scroll;
  &__cell {
    font-weight: bold;
    padding: 20px 10px;
    font-size: 4vh;
    cursor: pointer;
    &:hover {
      background-color: #861d4f;
      color: #fafafa;
    }
  }
}
